html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#jd{
	position: absolute;
	z-index: 1;
	
	/*background-image: url("img/fm/进度条.png");*/
}
#ship{
	position: absolute;
	z-index: 2;
	margin-left: 190px;
	margin-top: 870px;
	/*left: 0px;*/
	/*background-image: url("img/fm/封面进度条船（移动）.png");*/
}